_other/.autosave
_other/de_northern_graph.resources
_other/de_northern_graph.resources.algautosave
_other/radgencommands.txt
/_bakeresourcecache
materials/radgen/
_other/vtexcommands.txt
maps/de_northern.log
AssetBrowserSavedSearches.kv3
maps/de_northern_bakeresourcecache.vpk
*.exr
*.vpk
_radgen_extras/Overview/de_northern_radar_remove_mask.png
_radgen_extras/Overview/de_northern_radar_radgen_box_mask.png
_radgen_extras/Overview/de_northern_radar_overlays_mask.png
_radgen_extras/Overview/de_northern_radar_overlap_mask.png
_radgen_extras/Overview/de_northern_radar_ladder_mask.png
_radgen_extras/Overview/de_northern_radar_door_mask.png
_radgen_extras/Overview/de_northern_radar_danger_mask.png
materials/test.vmat
maps/*.radgen.bak
refs/*
\.*
